* {
    margin: 0;
    padding: 0;
}
    body {
        overflow-x: hidden;
        background-image: url("Signup-bg-mobile.png");
        background-size: 100% 100%;
        background-attachment: fixed;
    }
    .arrow-btn {
        display: inline-block;
        position: fixed;
        top: 5vh;
        left: 5vw;
        height: 1.5rem;
        width: 1.5rem;
    }
    @font-face {
        font-family: mySemiBold;
        src: url(Montserrat-Bold.ttf);
    }
    @font-face {
        font-family: myLight;
        src: url(Montserrat-Regular.ttf);
    }
    @font-face {
        font-family: myMedium;
        src: url(Montserrat-Medium.ttf);
    }
    @font-face {
        font-family: myThin;
        src: url(Montserrat-Light.ttf);
    }
    .text {
        position: relative;
        top: 11vh;
        left: 5vw;
        display: flex;
        flex-direction: column;
    }
    .text-large {
        letter-spacing: -1px;
        position: relative;
        font-family: mySemiBold;
        font-size:calc(15px + 1vw);
        color: rgba(3,31,75,255);
    }
    .text-small {
        letter-spacing: -1px;
        position: relative;
        top: 0.5vh;
        font-family: myLight;
        font-size:calc(10px + 0.8vw);
        color: rgba(3,31,75,255);
    }
    #indent {
       position: relative;
       left: 5.5vw;
       display: block;
    }
    ::placeholder {
        letter-spacing: -0.75px;
        color: rgba(180,205,223,255);
        font-family: myThin;
        font-size:calc(14px + 1vw);
    }
    .bullet-point{
        letter-spacing: 20px;
        color: rgba(180,205,223,255);
        font-family: mySemiBold;
        font-size:calc(17px + 4vw);
    }
    .text-pc{
        display: none;
    }
    .signup-box-pc {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 31.9vh;
    }
    .form-box-pc {
        display: inline-block;;
        flex-direction: column;
        position: relative;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .form-label-pc {
        display: block;
        letter-spacing: -1px;
        padding-top: 2vh;
        font-family: myMedium;
        font-size:calc(12px + 1vw);
        color: rgba(3,31,75,255);
    }
    .form-input-pc{
        display: block;
        text-indent: 3vw;
        border-width: 1px;
        border-radius: 7px;
        box-shadow: 0px 3px 5px #808080;
        border-color: rgba(131,157,189,255);
        height: 6vh;
        width: 100%;
        font-family: myMedium;
        font-size:calc(12px + 1vw);
    }
    .signup-btn-pc {
        background-color: rgba(3,31,75,255);
        color: white;
        border-radius: 22px;
        font-family: mySemiBold;
        font-size:calc(18px + 1vw);
        text-align: center;
        display: inline-block;
        position: relative;
        top: 4vh;
        height: 8vh;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        border: none;
    }

/* for desktop */
@media only screen and (min-width: 1000px){
    body {
        background-image: url("Signup-bg-desktop.png");
        background-size: 100% 100%;
        background-attachment: fixed;
    }
    ::placeholder {
        letter-spacing: -1px;
        color: rgba(180,205,223,255);
        font-family: myThin;
        font-size:calc(12px + 0.80vw);
    }
    .text-pc{
        display: flex;
        letter-spacing: -1px;
        position: relative;
        top: 3.5vh;
        margin-left: auto;
        margin-right: auto;
        font-family: mySemiBold;
        font-size:calc(18px + 2.25vw);
        color: rgba(3,31,75,255);
    }
    .signup-box-pc {

        display: flex;
        position: relative;
        top: 5vh;
        overflow-x: hidden;
        height: 90vh;
        width: 50%;
        display: flex;
        flex-direction: column;
        float:right;
    }
    .form-box-pc {

        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 8vh;
        height: 80%;
        width: 60%;
    }
    .form-label-pc {
        display: flex;
        letter-spacing: -3px;
        padding-top: 2vh;
        font-family: myLight;
        font-size:calc(11px + 1vw);
        color: rgba(3,31,75,255);
    }
    .form-input-pc{
        display: flex;
        text-indent: 0.5vw;
        border-width: 1px;
        border-radius: 7px;
        box-shadow: 0px 3px 5px #808080;
        border-color: rgba(131,157,189,255);
        height: 6.5vh;
        width: 100%;
        font-family: myLight;
        font-size:calc(12px + 1vw);
    }
    .signup-btn-pc {
        background-color: rgba(3,31,75,255);
        color: white;
        border-radius: 35px;
        font-family: mySemiBold;
        font-size:calc(18px + 1vw);
        text-align: center;
        display: inline-block;
        position: relative;
        top: -7vh;
        height: 8vh;
        width: 30%;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        border: none;
    }
    .arrow-btn {
        display: none;
    }
    .text {
        display:none;
    }
    .signup-form {
        display: none;
    }

    .signup-btn {
        display: none;
    }
}
