<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='login-design.css') }}" />
    <title>Login</title>
</head>
<body>
{% block content %}
    <a href="{{ url_for('welcome') }}">
        <img src="/static/arrow-blue.png" class="arrow-btn"/>
    </a>
    <div class="black-cover">
        <img src="/static/Scrutiny-LOGO.png" class="logo"/>
        <div class="form-box-pc">
            <img src="/static/Scrutiny-LOGO.png" class="logo-pc"/>
            <div class="login-box-pc">
                <form action="{{ url_for("login")}}" method="post">
                {{ form.hidden_tag() }}
                {{ form.email.label(class="form-label-pc") }}
                {{ form.email(class="form-input-pc") }}
                {{ form.password.label(class="form-label-pc") }}
                {{ form.password(class="form-input-pc") }}
            </div>
            {{ form.submit(class="signup-btn-pc") }}
            <div  class="signup-box-pc">
                <p class="signup-link-pc"><a href="{{ url_for('signup') }}" class="link-pc">Not on Scrutiny yet? &nbsp;Sign up</a></p>
            </div>
        </div>
    </div>
{% endblock content %}
</body>
</html>